syntax: glob
build
*.mode1v3
*.pbxuser
*.orig
.DS_Store
.metadata
.project
*.perspectivev3
xcuserdata
project.xcworkspace
test-reports
.idea
.hg
.hgignore

fastlane/README.md
fastlane/report.xml
fastlane/test_output
