html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: auto !important;
  position: relative;
  min-width: 320px;
  min-height: 100%;
  border-left: .5em solid #2274a5;
  border-right: .5em solid #e6af2e;
}

body {
  margin-bottom: 240px !important; /* Margin bottom by footer height + 40px margin */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

main {
  padding-top: 90px;
  padding-bottom: 50px;
}

dt {
  margin-bottom: .5em;
}

dd {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:hover {
  color: #00bdf8;
}

[v-cloak] {
  display: none;
}

.hidden {
  visibility: hidden;
}

.ui.fixed.menu {
  border-left: .5em solid #2274a5;
  border-right: .5em solid #e6af2e;
  border-bottom-width: 0;
  opacity: 0.98;
}

header.ui.grid>.row {
  padding: 0px;
}

header .item {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

header.ui.menu a.text.item:hover {
  background-color: transparent;
  border-bottom: 2px solid #00bdf8;
}

.ui.tiny.breadcrumb {
  font-size: 0.75rem;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, .33);
}

.footer {
  background-color: #2274a5;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 240px; /* Set the fixed height of the footer here */
  color: #FFF;
}

.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.divided.grid:not([class*="vertically divided"])>.row>.column {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, .25);
}

.footer a {
  color: #8CBAE8;
  font-size: 80%;
}

.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.ui.menu a.item:hover {
  color: #00bdf8;
  background-color: transparent;
}

section {
  margin-bottom: 30px;
  border-radius: 5px;
}

h1.ui.header {
  margin-top: 0;
  font-weight: normal;
  font-size: 3em;
}

blockquote {
  margin-left: 25px;
  padding-left: 20px;
  font-size: 95%;
  color: #666;
  border-left: 1px solid #CCC;
}

.mono{
  font-family: 'Source Code Pro', monospace;
}

.badge {
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #eee;
}

.grow {
  transition: all .1s ease-in-out;
  transform: scale(1.33);
}

.hidden {
  display: none;
}

code {
  font-size: 90%;
  border-bottom: 1px dotted #999;
}

textarea {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Animations */
@keyframes jiggle {
  0%  {transform: translate(0, -1.5px)}
  100% {transform: translate(0, 1.5px)}
}
.jiggle {
  animation: jiggle .1s linear alternate infinite;
  transform: translate(0, 0);
  transform-origin: 50% 50%;
}

/* Fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

pre.pgn {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

